<div>
  	<%= simple_form_for :keys , :url => search_branch_laboratories_path(@branch) ,:html => { :class => "form-search" } do |f| %>
      <div class="input-append">
        <input type="text" name="keys" class="span18 search-query" value="<%= @keys%>">
        <button type="submit" class="btn">Buscar</button>
      </div>
    <% end %> 
</div>

<div class="row-fluid">
	<%= paginate @laboratories %>
</div>

<div class="row-fluid">
<table class="table table-striped">
	<thead>
  <tr>
    <th>Nombre</th>
    <th>Télefono</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
<% @laboratories.each do | laboratory | %>
  <tr>
  	<td><%= laboratory.name %></td>
  	<td><%= laboratory.phone %></td>
  	<td><%= laboratory.email %></td>
    <td><%= link_to 'Editar', edit_branch_laboratory_path(@branch,laboratory) , :class => "btn btn-primary"%></td>
    <td><%= link_to 'Borrar', branch_laboratory_path(@branch, laboratory), method: :delete, data: { confirm: 'Está seguro que desea borrar el laboratorio?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<div class="row-fluid">
	<%= paginate @laboratories %>
</div>