<legend>Sucursal <%= @branch.name %> - Stocks</legend>
<div class="row-fluid">
<table class="table table-striped">
	<thead>
  <tr>
    <th>Producto</th>
    <th>Stock Inicial</th>
    <th>Stock Actual</th>
  </tr>
</thead>
<tbody>
<% @stocks.each do |stock| %>
  <tr>
  	<td><%= stock.product.name %></td>
  	<td><%= stock.initial_stock %></td>
  	<td><%= stock.size %></td>
    <td><%= link_to 'Modificar', branch_modificar_stock_path(@branch, stock) , :class => "btn btn-primary"%></td>
  </tr>
<% end %>
</tbody>
</table>
