<div id="edit_form" class="form_user">  	
	<legend>Sucursarl <%= @branch.name %> - Modificar Stock:</legend>
	<div class="row-horizontal">
		<label> Producto :  	<%=@stock.product.name%> </label>
	</div>
	<div class="row-horizontal">
	  	<%= simple_form_for @stock, :url => branch_new_actualizar_stock_path(@branch, @product) ,  :html => { :class => "form-horizontal" } do |f| %>
        <fieldset>	
        	<%= f.input :id, :as => :hidden %>
  	        <%= f.input :kind_movement, :collection => ["Incremento", "Descuento"], :label => "Tipo:"  %>
    	    <%= f.input :profit, :as => :text, :placeholder => "ganancia", :label => "Ganancia:", :input_html => { class: 'input-small' , :rows => 1 }  %>
  	        <%= f.input :initial_stock, :placeholder => "stock inicial ", :label => "Stock Inicial:", :input_html => { class: 'input-small'  }  %>
            <%= f.input :disccount, :placeholder => "descuento ", :label => "Descuento:", :input_html => { class: 'input-small'  }  %>  	        
  	        <%= f.input :minimum, :placeholder => "cantidad minima: ", :label => "Cantidad Minima:", :input_html => { class: 'input-small'  }  %>  	           
			<%= f.input :size, :placeholder => "cantidad",:label => "Cantidad Actual:",  :input_html => { class: 'input-small' , readonly: true  }  %>
			<%= f.input :temporal_size, :placeholder => "cantidad",:label => "Cantidad a modificar:",  :input_html => { class: 'input-small', :value => 1  }  %>
			
        </fieldset>  
	  	<hr />
	  	<%= link_to "Cancelar", branch_stocks_path(@branch), :class => "btn btn-secundary btn-form"%>
	    <%= f.submit "Guardar", :class => "btn btn-primary btn-form"%>
	    <% end %>
	</div>
</div>