<div id="edit_form" class="form_user">  	
	<legend>Sucursal <%= @branch.name %> - Producto <%=@product.name %></legend>
	<% @stock = @product.get_stock(@branch)%>
	<div class="row-horizontal">
	  	<%= simple_form_for @stock , :url => actualizar_atributos_path(@branch, @product, @stock) ,:html => { :class => "form-horizontal" } do |f| %>
	  	<%= f.input :profit, :placeholder => "ganancia ", :label => "Ganancia:", :input_html => { class: 'input-small'  }  %>
	  	<%= f.input :initial_stock, :placeholder => "stock inicial ", :label => "Stock Inicial:", :input_html => { class: 'input-small'  }  %>
	  	
	  	<hr />
	    <%= link_to "Cancelar", branch_products_path(@branch), :class => "btn btn-secundary btn-form"%>
	    <%= f.submit "Guardar", :class => "btn btn-primary btn-form"%>
	    <% end %>
	</div>
</div>