<legend>Proveedores</legend>
<div class="row-fluid">
<table class="table table-striped">
	<thead>
  <tr>
    <th>Nombre</th>
    <th>Télefono</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
<% @suppliers.each do |supplier| %>
  <tr>
  	<td><%= supplier.name %></td>
  	<td><%= supplier.phone %></td>
  	<td><%= supplier.email %></td>
    <td><%= link_to 'Editar', edit_branch_supplier_path(@branch,supplier) , :class => "btn btn-primary"%></td>
    <td><%= link_to 'Borrar', branch_supplier_path(@branch, supplier), method: :delete, data: { confirm: 'Está seguro que desea borrar el proveedor?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>

