<div class="login-form">
	<h3>Ingreso</h3>
  <hr />
  <div id="login_form" class="login">
  	<fieldset>  	
  	<%= simple_form_for @user_session, :url => {:action => "create"}, :html => { :class => "login form-horizontal" } do |f| %>
	   <%= f.input :login, :label => false, :placeholder => "email",  :error => false , :input_html => { class: 'input-login' }  %>
	   <%= f.input :password, :label => false, :placeholder => "password", :error => false ,  :input_html => { class: 'input-login' }  %>
       <%= link_to "Olvidaste Password?" , "#"%>       
       <div>
       <%= f.submit "Ingresar" , :class => "btn btn-primary btn-form" %>
       <%= f.input :remember_me, :label => "Recordarme", as: :boolean   %>
       	
       </div>     
    <% end %>
    </fieldset>    
   
  </div>    
</div>
