 <fieldset>	
	<%= f.input :date_sale, :as => :ui_date_picker, :label => "Fecha",:input_html => {:value => ""}   %>
    <%= f.association :client, :collection => Client.all(order: 'name'), :prompt => "Seleccione un Cliente", :label => "Cliente:" %>	
    <%= f.input :payment, 
                :collection => [['efectivo', 'Efectivo'], ['tarjeta', 'Tarjeta'], ['cuenta_corriente', 'Cuenta Corriente'] ], 
                :label_method => :last, 
                :as => :radio_buttons,
                :label => "Forma de Pago:", 
                :checked => 'efectivo' %>
          
     <legend>Productos </legend>
     <hr>     

    <%= f.simple_fields_for :items do | si| %>
    <div class="row-fluid products">
      <%= si.association :product , :collection => @branch.products(order: 'name'), :prompt => "Seleccione un Producto", :label => "Producto:" %>    	
      <%= si.input :size, :placeholder => "cantidad", :label => "Cantidad:", :input_html => { class: 'input-small pull-left cantidad'} %>
      <%= si.link_to_remove "Eliminar" %>      
    </div>  
    <% end %>
    <p><%= f.link_to_add "Nuevo Producto", :items %></p>    
	<%= f.input :comments, :as => :text, :placeholder => "Observaciones",:label => "Observaciones:",  :input_html => { class: 'input-xxlarge'  }  %>    
</fieldset>   
