 <fieldset>	
 	<%= f.error_notification %>
	<%= f.input :date_sale, :as => :ui_date_picker, :label => "Fecha",:input_html => {:value => ""}   %>
    <%= f.input :branch_id, :as => :hidden, :input_html => { :value => @branch.id } %>
    <%= f.association :client, :collection => @branch.clients.all(order: 'name'), :label => "Cliente:", :include_blank => false %>	
    <%= f.input :payment, 
                :collection => [['efectivo', 'Efectivo'], ['tarjeta', 'Tarjeta'], ['cuenta_corriente', 'Cuenta Corriente'] ], 
                :label_method => :last, 
                :as => :radio_buttons,
                :label => "Forma de Pago:", 
                :checked => 'Efectivo' %>
          
     <div id="remitoField" style="display: none">
     	     <%= f.input :remito, :label => "Remito", :placeholder => "remito", :input_html => { class: 'input-small'}%>     
     </div>     
     <legend>Productos </legend>
     <hr>     

    <%= f.simple_fields_for :items do | si| %>

    <div class="row-fluid products items-rows">
      <%= si.input :size, :placeholder => "cantidad", :label => "Cantidad:", :input_html => {:value => "1", class: 'input-small pull-left cantidad'} %>    	
      <%= si.association :stock , 
                         :collection => @branch.stocks.includes(:product).order("products.name"), 
                         :label_method => :product_name,
                         :value_method => :id, 
                         :label => "Producto:",
                         :include_blank => true, 
                         :input_html => { :class => 'selectStock'}
                          %>
      <%= si.link_to_remove "Eliminar" %>      
    </div>  
    <% end %>
    <p><%= f.link_to_add "Nuevo Producto", :items %></p>    
	<%= f.input :comments, :as => :text, :placeholder => "Observaciones",:label => "Observaciones:",  :input_html => { class: 'input-xxlarge'  }  %>    
</fieldset>   
