<div id="edit_form" class="form_user">  	
	<legend>Sucursal <%=@branch.name %> -Cobrar Venta </legend>
	<div class="row-horizontal">
	  	<%=  simple_form_for @sale , :url => branch_sale_efectivizar_cobro_path(@branch, @sale), :html => { :class => "form-horizontal" } do |f| %>
	 <fieldset>
	 	<table class="table table-striped">
	 		<tr>
	 			<td>
	 				Venta:
	 			</td>
	 			<td>
	 				<%= @sale.id %>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td>
	 				Cliente:
	 			</td>
	 			<td>
	 				<%= @sale.client.name %>
	 			</td>
	 		</tr>
	 		
	 	</table>
	</fieldset>   	  	
	  	<hr />
	  	<%= link_to "Cancelar", branch_sales_path(@branch), :class => "btn btn-secundary btn-form"%>
	    <%= f.submit "Cobrar", :class => "btn btn-primary btn-form"%>
	    <% end %>
	</div>
</div>