<div id="edit_form" class="form_user">  	
	<legend>Sucursal <%=@branch.name %> - Editar Venta <%=@sale.id %>:</legend>
	<div class="row-horizontal">
	  	<%= simple_nested_form_for setup_sales(@sale) , :url => branch_sale_path(@branch, @sale), :html => { :class => "form-horizontal" } do |f| %>
	  	<%= render :partial => "form", :locals => {:f => f}%>
	  	<hr />
	  	<%= link_to "Cancelar", branch_sales_path(@branch), :class => "btn btn-secundary btn-form"%>
	    <%= f.submit "Guardar", :class => "btn btn-primary btn-form"%>
	    <% end %>
	</div>
</div>
