<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Incluir Salud" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="application">
     
     <div id="menu">
     	<%= render :partial => "shared/menu"%>
     </div>
     
	<div class="container">
		<div class="content">
		  <%= render 'shared/messages' %>
         <div >
    	     <%= yield %>
         </div>
       </div>       
       <footer>
       </footer>
       <%= javascript_include_tag "application" %>
  </body>
  <!-- popup to add , edit ticket -->
  <div class="modal fade" id="popup_modal">
  </div>
</html>