<fieldset>	
	<%= f.association :client, :collection => @clients, :include_blank => "Seleccione un cliente", :label => "Cliente" %>
	<%= f.input :mount, :placeholder => "saldo",:label => "Saldo Actual:",  :input_html => { class: 'input-small', readonly: true  }  %>
    <%= f.simple_fields_for :account_logs do | si| %>
    
     <div class="row-fluid products">
       <%= si.input :in, 
                    :as => :radio_buttons, 
                    :collection => [[1, 'Ingreso'], [0, 'Egreso']],
                    :label_method => :last, 
                    :checked => 'Ingreso', 
                    :label => "Tipo:" %>        	
     	
     </div>
     <div class="row-fluid products">
       <%= si.input :value , :prompt => "Monto", :label => "Monto:", :input_html => { class: 'input-small'} %>   
    </div>  

    
    <div class="row-fluid products">
	  <%= si.input :description, :as => :text, :placeholder => "Observaciones",:label => "Observaciones:",  :input_html => { :rows => '10', class: 'input-xxlarge'  }  %>    	
    </div>
    <% end %>	
	<%#= f.input :comments, :as => :text, :placeholder => "Observaciones",:label => "Observaciones:",  :input_html => { :rows => '10', class: 'input-xxlarge'  }  %>    
</fieldset>  