<legend>Sucursal <%= @branch.name %> - Cuentas Corrientes</legend>
<%= link_to "Excel Cuenta Corriente", download_accounts_path(@branch, :format => "xls"), :class => "btn btn-primary pull-left" %>

<div class="row-fluid">
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Cliente</th>
	    <th>Dirección</th>
	    <th>Saldo</th>
	  </tr>
</thead>
<tbody>
<% @accounts.each do | account | %>
  <tr>
  	<% unless account.client.blank? %>
	  	<td><%= account.client.name  %></td>
	  	<td><%= account.client.address %></td>
  	<% else %>
		<td></td>
		<td></td>  	
  	<% end %>
  	<td> $ <%= account.mount %></td>
    <td><%= link_to 'Editar', edit_branch_account_path(@branch,account) , :class => "btn btn-primary"%></td>
  </tr>
<% end %>
</tbody>
</table>
